
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.custom-modal {
  background-color: var(--mui-background-paper);
  color: var(--mui-text-primary);
  border-radius: var(--mui-shape-borderRadius);
  padding: var(--mui-spacing);
}

